# OS
.DS_Store

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/

# Java
**/target/
*.class
*.jar

# Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Coverage
coverage/
*.lcov

# Env
.env
.env.*

# Logs
*.log
